@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?co5ztv');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?co5ztv#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?co5ztv') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?co5ztv') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?co5ztv##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="socicon-"], [class*=" socicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-500px {
  &:before {
    content: $socicon-500px; 
  }
}
.socicon-8tracks {
  &:before {
    content: $socicon-8tracks; 
  }
}
.socicon-airbnb {
  &:before {
    content: $socicon-airbnb; 
  }
}
.socicon-alibaba {
  &:before {
    content: $socicon-alibaba; 
  }
}
.socicon-aliexpress {
  &:before {
    content: $socicon-aliexpress; 
  }
}
.socicon-alliance {
  &:before {
    content: $socicon-alliance; 
  }
}
.socicon-amazon {
  &:before {
    content: $socicon-amazon; 
  }
}
.socicon-amplement {
  &:before {
    content: $socicon-amplement; 
  }
}
.socicon-android {
  &:before {
    content: $socicon-android; 
  }
}
.socicon-angellist {
  &:before {
    content: $socicon-angellist; 
  }
}
.socicon-angieslist {
  &:before {
    content: $socicon-angieslist; 
  }
}
.socicon-apple {
  &:before {
    content: $socicon-apple; 
  }
}
.socicon-appnet {
  &:before {
    content: $socicon-appnet; 
  }
}
.socicon-appstore {
  &:before {
    content: $socicon-appstore; 
  }
}
.socicon-artstation {
  &:before {
    content: $socicon-artstation; 
  }
}
.socicon-ask {
  &:before {
    content: $socicon-ask; 
  }
}
.socicon-augment {
  &:before {
    content: $socicon-augment; 
  }
}
.socicon-avvo {
  &:before {
    content: $socicon-avvo; 
  }
}
.socicon-baidu {
  &:before {
    content: $socicon-baidu; 
  }
}
.socicon-bale {
  &:before {
    content: $socicon-bale; 
  }
}
.socicon-bandcamp {
  &:before {
    content: $socicon-bandcamp; 
  }
}
.socicon-battlenet {
  &:before {
    content: $socicon-battlenet; 
  }
}
.socicon-beatport {
  &:before {
    content: $socicon-beatport; 
  }
}
.socicon-bebee {
  &:before {
    content: $socicon-bebee; 
  }
}
.socicon-bebo {
  &:before {
    content: $socicon-bebo; 
  }
}
.socicon-behance {
  &:before {
    content: $socicon-behance; 
  }
}
.socicon-besport {
  &:before {
    content: $socicon-besport; 
  }
}
.socicon-bing {
  &:before {
    content: $socicon-bing; 
  }
}
.socicon-bitbucket {
  &:before {
    content: $socicon-bitbucket; 
  }
}
.socicon-blackberry {
  &:before {
    content: $socicon-blackberry; 
  }
}
.socicon-blizzard {
  &:before {
    content: $socicon-blizzard; 
  }
}
.socicon-blogger {
  &:before {
    content: $socicon-blogger; 
  }
}
.socicon-bloglovin {
  &:before {
    content: $socicon-bloglovin; 
  }
}
.socicon-bonanza {
  &:before {
    content: $socicon-bonanza; 
  }
}
.socicon-bookbub {
  &:before {
    content: $socicon-bookbub; 
  }
}
.socicon-booking {
  &:before {
    content: $socicon-booking; 
  }
}
.socicon-buffer {
  &:before {
    content: $socicon-buffer; 
  }
}
.socicon-calendly {
  &:before {
    content: $socicon-calendly; 
  }
}
.socicon-cdbaby {
  &:before {
    content: $socicon-cdbaby; 
  }
}
.socicon-chrome {
  &:before {
    content: $socicon-chrome; 
  }
}
.socicon-codepen {
  &:before {
    content: $socicon-codepen; 
  }
}
.socicon-codered {
  &:before {
    content: $socicon-codered; 
  }
}
.socicon-coderwall {
  &:before {
    content: $socicon-coderwall; 
  }
}
.socicon-collectorz {
  &:before {
    content: $socicon-collectorz; 
  }
}
.socicon-craigslist {
  &:before {
    content: $socicon-craigslist; 
  }
}
.socicon-crunchbase {
  &:before {
    content: $socicon-crunchbase; 
  }
}
.socicon-curse {
  &:before {
    content: $socicon-curse; 
  }
}
.socicon-dailymotion {
  &:before {
    content: $socicon-dailymotion; 
  }
}
.socicon-debian {
  &:before {
    content: $socicon-debian; 
  }
}
.socicon-deezer {
  &:before {
    content: $socicon-deezer; 
  }
}
.socicon-delicious {
  &:before {
    content: $socicon-delicious; 
  }
}
.socicon-deviantart {
  &:before {
    content: $socicon-deviantart; 
  }
}
.socicon-diablo {
  &:before {
    content: $socicon-diablo; 
  }
}
.socicon-digg {
  &:before {
    content: $socicon-digg; 
  }
}
.socicon-discord {
  &:before {
    content: $socicon-discord; 
  }
}
.socicon-disqus {
  &:before {
    content: $socicon-disqus; 
  }
}
.socicon-dlive {
  &:before {
    content: $socicon-dlive; 
  }
}
.socicon-doodle {
  &:before {
    content: $socicon-doodle; 
  }
}
.socicon-douban {
  &:before {
    content: $socicon-douban; 
  }
}
.socicon-draugiem {
  &:before {
    content: $socicon-draugiem; 
  }
}
.socicon-dribbble {
  &:before {
    content: $socicon-dribbble; 
  }
}
.socicon-drupal {
  &:before {
    content: $socicon-drupal; 
  }
}
.socicon-ebay {
  &:before {
    content: $socicon-ebay; 
  }
}
.socicon-eitaa {
  &:before {
    content: $socicon-eitaa; 
  }
}
.socicon-elementaryos {
  &:before {
    content: $socicon-elementaryos; 
  }
}
.socicon-ello {
  &:before {
    content: $socicon-ello; 
  }
}
.socicon-endomodo {
  &:before {
    content: $socicon-endomodo; 
  }
}
.socicon-envato {
  &:before {
    content: $socicon-envato; 
  }
}
.socicon-etsy {
  &:before {
    content: $socicon-etsy; 
  }
}
.socicon-facebook {
  &:before {
    content: $socicon-facebook; 
  }
}
.socicon-feedburner {
  &:before {
    content: $socicon-feedburner; 
  }
}
.socicon-filmfreeway {
  &:before {
    content: $socicon-filmfreeway; 
  }
}
.socicon-filmweb {
  &:before {
    content: $socicon-filmweb; 
  }
}
.socicon-firefox {
  &:before {
    content: $socicon-firefox; 
  }
}
.socicon-fiverr {
  &:before {
    content: $socicon-fiverr; 
  }
}
.socicon-flattr {
  &:before {
    content: $socicon-flattr; 
  }
}
.socicon-flickr {
  &:before {
    content: $socicon-flickr; 
  }
}
.socicon-flipboard {
  &:before {
    content: $socicon-flipboard; 
  }
}
.socicon-formulr {
  &:before {
    content: $socicon-formulr; 
  }
}
.socicon-forrst {
  &:before {
    content: $socicon-forrst; 
  }
}
.socicon-foursquare {
  &:before {
    content: $socicon-foursquare; 
  }
}
.socicon-freelancer {
  &:before {
    content: $socicon-freelancer; 
  }
}
.socicon-friendfeed {
  &:before {
    content: $socicon-friendfeed; 
  }
}
.socicon-fundable {
  &:before {
    content: $socicon-fundable; 
  }
}
.socicon-fyuse {
  &:before {
    content: $socicon-fyuse; 
  }
}
.socicon-gamefor {
  &:before {
    content: $socicon-gamefor; 
  }
}
.socicon-gamejolt {
  &:before {
    content: $socicon-gamejolt; 
  }
}
.socicon-gamewisp {
  &:before {
    content: $socicon-gamewisp; 
  }
}
.socicon-ghost {
  &:before {
    content: $socicon-ghost; 
  }
}
.socicon-github {
  &:before {
    content: $socicon-github; 
  }
}
.socicon-gitlab {
  &:before {
    content: $socicon-gitlab; 
  }
}
.socicon-gitter {
  &:before {
    content: $socicon-gitter; 
  }
}
.socicon-gnome {
  &:before {
    content: $socicon-gnome; 
  }
}
.socicon-goodreads {
  &:before {
    content: $socicon-goodreads; 
  }
}
.socicon-google {
  &:before {
    content: $socicon-google; 
  }
}
.socicon-googlecalendar {
  &:before {
    content: $socicon-googlecalendar; 
  }
}
.socicon-googlegroups {
  &:before {
    content: $socicon-googlegroups; 
  }
}
.socicon-googlehangouts {
  &:before {
    content: $socicon-googlehangouts; 
  }
}
.socicon-googlemaps {
  &:before {
    content: $socicon-googlemaps; 
  }
}
.socicon-googlephotos {
  &:before {
    content: $socicon-googlephotos; 
  }
}
.socicon-googleplaymusic {
  &:before {
    content: $socicon-googleplaymusic; 
  }
}
.socicon-googleplus {
  &:before {
    content: $socicon-googleplus; 
  }
}
.socicon-googlescholar {
  &:before {
    content: $socicon-googlescholar; 
  }
}
.socicon-gotomeeting {
  &:before {
    content: $socicon-gotomeeting; 
  }
}
.socicon-grooveshark {
  &:before {
    content: $socicon-grooveshark; 
  }
}
.socicon-guru {
  &:before {
    content: $socicon-guru; 
  }
}
.socicon-gust {
  &:before {
    content: $socicon-gust; 
  }
}
.socicon-hackernews {
  &:before {
    content: $socicon-hackernews; 
  }
}
.socicon-hackerone {
  &:before {
    content: $socicon-hackerone; 
  }
}
.socicon-hackerrank {
  &:before {
    content: $socicon-hackerrank; 
  }
}
.socicon-hearthstone {
  &:before {
    content: $socicon-hearthstone; 
  }
}
.socicon-hellocoton {
  &:before {
    content: $socicon-hellocoton; 
  }
}
.socicon-heroes {
  &:before {
    content: $socicon-heroes; 
  }
}
.socicon-hitbox {
  &:before {
    content: $socicon-hitbox; 
  }
}
.socicon-homeadvisor {
  &:before {
    content: $socicon-homeadvisor; 
  }
}
.socicon-homes {
  &:before {
    content: $socicon-homes; 
  }
}
.socicon-homify {
  &:before {
    content: $socicon-homify; 
  }
}
.socicon-horde {
  &:before {
    content: $socicon-horde; 
  }
}
.socicon-houzz {
  &:before {
    content: $socicon-houzz; 
  }
}
.socicon-icq {
  &:before {
    content: $socicon-icq; 
  }
}
.socicon-identica {
  &:before {
    content: $socicon-identica; 
  }
}
.socicon-imdb {
  &:before {
    content: $socicon-imdb; 
  }
}
.socicon-indiedb {
  &:before {
    content: $socicon-indiedb; 
  }
}
.socicon-instagram {
  &:before {
    content: $socicon-instagram; 
  }
}
.socicon-instructables {
  &:before {
    content: $socicon-instructables; 
  }
}
.socicon-internet {
  &:before {
    content: $socicon-internet; 
  }
}
.socicon-invision {
  &:before {
    content: $socicon-invision; 
  }
}
.socicon-issuu {
  &:before {
    content: $socicon-issuu; 
  }
}
.socicon-istock {
  &:before {
    content: $socicon-istock; 
  }
}
.socicon-itchio {
  &:before {
    content: $socicon-itchio; 
  }
}
.socicon-itunes {
  &:before {
    content: $socicon-itunes; 
  }
}
.socicon-jamendo {
  &:before {
    content: $socicon-jamendo; 
  }
}
.socicon-keybase {
  &:before {
    content: $socicon-keybase; 
  }
}
.socicon-kobo {
  &:before {
    content: $socicon-kobo; 
  }
}
.socicon-lanyrd {
  &:before {
    content: $socicon-lanyrd; 
  }
}
.socicon-lastfm {
  &:before {
    content: $socicon-lastfm; 
  }
}
.socicon-letterboxd {
  &:before {
    content: $socicon-letterboxd; 
  }
}
.socicon-line {
  &:before {
    content: $socicon-line; 
  }
}
.socicon-linkedin {
  &:before {
    content: $socicon-linkedin; 
  }
}
.socicon-livejournal {
  &:before {
    content: $socicon-livejournal; 
  }
}
.socicon-livemaster {
  &:before {
    content: $socicon-livemaster; 
  }
}
.socicon-logmein {
  &:before {
    content: $socicon-logmein; 
  }
}
.socicon-loomly {
  &:before {
    content: $socicon-loomly; 
  }
}
.socicon-lyft {
  &:before {
    content: $socicon-lyft; 
  }
}
.socicon-macos {
  &:before {
    content: $socicon-macos; 
  }
}
.socicon-mail {
  &:before {
    content: $socicon-mail; 
  }
}
.socicon-mailru {
  &:before {
    content: $socicon-mailru; 
  }
}
.socicon-mastodon {
  &:before {
    content: $socicon-mastodon; 
  }
}
.socicon-medium {
  &:before {
    content: $socicon-medium; 
  }
}
.socicon-meetup {
  &:before {
    content: $socicon-meetup; 
  }
}
.socicon-messenger {
  &:before {
    content: $socicon-messenger; 
  }
}
.socicon-metapop {
  &:before {
    content: $socicon-metapop; 
  }
}
.socicon-microsoft {
  &:before {
    content: $socicon-microsoft; 
  }
}
.socicon-mix {
  &:before {
    content: $socicon-mix; 
  }
}
.socicon-mixcloud {
  &:before {
    content: $socicon-mixcloud; 
  }
}
.socicon-mixer {
  &:before {
    content: $socicon-mixer; 
  }
}
.socicon-mobcrush {
  &:before {
    content: $socicon-mobcrush; 
  }
}
.socicon-moddb {
  &:before {
    content: $socicon-moddb; 
  }
}
.socicon-modelmayhem {
  &:before {
    content: $socicon-modelmayhem; 
  }
}
.socicon-mumble {
  &:before {
    content: $socicon-mumble; 
  }
}
.socicon-myanimelist {
  &:before {
    content: $socicon-myanimelist; 
  }
}
.socicon-myspace {
  &:before {
    content: $socicon-myspace; 
  }
}
.socicon-napster {
  &:before {
    content: $socicon-napster; 
  }
}
.socicon-natgeo {
  &:before {
    content: $socicon-natgeo; 
  }
}
.socicon-naver {
  &:before {
    content: $socicon-naver; 
  }
}
.socicon-newsvine {
  &:before {
    content: $socicon-newsvine; 
  }
}
.socicon-nextdoor {
  &:before {
    content: $socicon-nextdoor; 
  }
}
.socicon-niconico {
  &:before {
    content: $socicon-niconico; 
  }
}
.socicon-nintendo {
  &:before {
    content: $socicon-nintendo; 
  }
}
.socicon-npm {
  &:before {
    content: $socicon-npm; 
  }
}
.socicon-odnoklassniki {
  &:before {
    content: $socicon-odnoklassniki; 
  }
}
.socicon-openaigym {
  &:before {
    content: $socicon-openaigym; 
  }
}
.socicon-openid {
  &:before {
    content: $socicon-openid; 
  }
}
.socicon-opera {
  &:before {
    content: $socicon-opera; 
  }
}
.socicon-origin {
  &:before {
    content: $socicon-origin; 
  }
}
.socicon-outlook {
  &:before {
    content: $socicon-outlook; 
  }
}
.socicon-overwatch {
  &:before {
    content: $socicon-overwatch; 
  }
}
.socicon-pandora {
  &:before {
    content: $socicon-pandora; 
  }
}
.socicon-patreon {
  &:before {
    content: $socicon-patreon; 
  }
}
.socicon-paypal {
  &:before {
    content: $socicon-paypal; 
  }
}
.socicon-periscope {
  &:before {
    content: $socicon-periscope; 
  }
}
.socicon-persona {
  &:before {
    content: $socicon-persona; 
  }
}
.socicon-pinterest {
  &:before {
    content: $socicon-pinterest; 
  }
}
.socicon-pixiv {
  &:before {
    content: $socicon-pixiv; 
  }
}
.socicon-play {
  &:before {
    content: $socicon-play; 
  }
}
.socicon-player {
  &:before {
    content: $socicon-player; 
  }
}
.socicon-playstation {
  &:before {
    content: $socicon-playstation; 
  }
}
.socicon-pocket {
  &:before {
    content: $socicon-pocket; 
  }
}
.socicon-portfolio {
  &:before {
    content: $socicon-portfolio; 
  }
}
.socicon-qobuz {
  &:before {
    content: $socicon-qobuz; 
  }
}
.socicon-qq {
  &:before {
    content: $socicon-qq; 
  }
}
.socicon-quora {
  &:before {
    content: $socicon-quora; 
  }
}
.socicon-raidcall {
  &:before {
    content: $socicon-raidcall; 
  }
}
.socicon-ravelry {
  &:before {
    content: $socicon-ravelry; 
  }
}
.socicon-realtor {
  &:before {
    content: $socicon-realtor; 
  }
}
.socicon-redbubble {
  &:before {
    content: $socicon-redbubble; 
  }
}
.socicon-reddit {
  &:before {
    content: $socicon-reddit; 
  }
}
.socicon-redfin {
  &:before {
    content: $socicon-redfin; 
  }
}
.socicon-remote {
  &:before {
    content: $socicon-remote; 
  }
}
.socicon-renren {
  &:before {
    content: $socicon-renren; 
  }
}
.socicon-researchgate {
  &:before {
    content: $socicon-researchgate; 
  }
}
.socicon-residentadvisor {
  &:before {
    content: $socicon-residentadvisor; 
  }
}
.socicon-reverbnation {
  &:before {
    content: $socicon-reverbnation; 
  }
}
.socicon-rss {
  &:before {
    content: $socicon-rss; 
  }
}
.socicon-seedrs {
  &:before {
    content: $socicon-seedrs; 
  }
}
.socicon-seenthis {
  &:before {
    content: $socicon-seenthis; 
  }
}
.socicon-sharepoint {
  &:before {
    content: $socicon-sharepoint; 
  }
}
.socicon-sharethis {
  &:before {
    content: $socicon-sharethis; 
  }
}
.socicon-shopify {
  &:before {
    content: $socicon-shopify; 
  }
}
.socicon-sketchfab {
  &:before {
    content: $socicon-sketchfab; 
  }
}
.socicon-skype {
  &:before {
    content: $socicon-skype; 
  }
}
.socicon-slack {
  &:before {
    content: $socicon-slack; 
  }
}
.socicon-slideshare {
  &:before {
    content: $socicon-slideshare; 
  }
}
.socicon-smashcast {
  &:before {
    content: $socicon-smashcast; 
  }
}
.socicon-smashwords {
  &:before {
    content: $socicon-smashwords; 
  }
}
.socicon-smugmug {
  &:before {
    content: $socicon-smugmug; 
  }
}
.socicon-snapchat {
  &:before {
    content: $socicon-snapchat; 
  }
}
.socicon-society6 {
  &:before {
    content: $socicon-society6; 
  }
}
.socicon-songkick {
  &:before {
    content: $socicon-songkick; 
  }
}
.socicon-soroush {
  &:before {
    content: $socicon-soroush; 
  }
}
.socicon-soundcloud {
  &:before {
    content: $socicon-soundcloud; 
  }
}
.socicon-spip {
  &:before {
    content: $socicon-spip; 
  }
}
.socicon-splice {
  &:before {
    content: $socicon-splice; 
  }
}
.socicon-spotify {
  &:before {
    content: $socicon-spotify; 
  }
}
.socicon-spreadshirt {
  &:before {
    content: $socicon-spreadshirt; 
  }
}
.socicon-squarespace {
  &:before {
    content: $socicon-squarespace; 
  }
}
.socicon-stackexchange {
  &:before {
    content: $socicon-stackexchange; 
  }
}
.socicon-stackoverflow {
  &:before {
    content: $socicon-stackoverflow; 
  }
}
.socicon-stage32 {
  &:before {
    content: $socicon-stage32; 
  }
}
.socicon-starcraft {
  &:before {
    content: $socicon-starcraft; 
  }
}
.socicon-stayfriends {
  &:before {
    content: $socicon-stayfriends; 
  }
}
.socicon-steam {
  &:before {
    content: $socicon-steam; 
  }
}
.socicon-stitcher {
  &:before {
    content: $socicon-stitcher; 
  }
}
.socicon-storehouse {
  &:before {
    content: $socicon-storehouse; 
  }
}
.socicon-strava {
  &:before {
    content: $socicon-strava; 
  }
}
.socicon-streamjar {
  &:before {
    content: $socicon-streamjar; 
  }
}
.socicon-stumbleupon {
  &:before {
    content: $socicon-stumbleupon; 
  }
}
.socicon-swarm {
  &:before {
    content: $socicon-swarm; 
  }
}
.socicon-teamspeak {
  &:before {
    content: $socicon-teamspeak; 
  }
}
.socicon-teamviewer {
  &:before {
    content: $socicon-teamviewer; 
  }
}
.socicon-technorati {
  &:before {
    content: $socicon-technorati; 
  }
}
.socicon-telegram {
  &:before {
    content: $socicon-telegram; 
  }
}
.socicon-threads {
  &:before {
    content: $socicon-threads; 
  }
}
.socicon-threema {
  &:before {
    content: $socicon-threema; 
  }
}
.socicon-tidal {
  &:before {
    content: $socicon-tidal; 
  }
}
.socicon-tiktok {
  &:before {
    content: $socicon-tiktok; 
  }
}
.socicon-tinder {
  &:before {
    content: $socicon-tinder; 
  }
}
.socicon-toneden {
  &:before {
    content: $socicon-toneden; 
  }
}
.socicon-toptal {
  &:before {
    content: $socicon-toptal; 
  }
}
.socicon-torial {
  &:before {
    content: $socicon-torial; 
  }
}
.socicon-traxsource {
  &:before {
    content: $socicon-traxsource; 
  }
}
.socicon-trello {
  &:before {
    content: $socicon-trello; 
  }
}
.socicon-tripadvisor {
  &:before {
    content: $socicon-tripadvisor; 
  }
}
.socicon-tripit {
  &:before {
    content: $socicon-tripit; 
  }
}
.socicon-triplej {
  &:before {
    content: $socicon-triplej; 
  }
}
.socicon-trulia {
  &:before {
    content: $socicon-trulia; 
  }
}
.socicon-tumblr {
  &:before {
    content: $socicon-tumblr; 
  }
}
.socicon-tunein {
  &:before {
    content: $socicon-tunein; 
  }
}
.socicon-twitch {
  &:before {
    content: $socicon-twitch; 
  }
}
.socicon-twitter {
  &:before {
    content: $socicon-twitter; 
  }
}
.socicon-uber {
  &:before {
    content: $socicon-uber; 
  }
}
.socicon-ubuntu {
  &:before {
    content: $socicon-ubuntu; 
  }
}
.socicon-udemy {
  &:before {
    content: $socicon-udemy; 
  }
}
.socicon-unsplash {
  &:before {
    content: $socicon-unsplash; 
  }
}
.socicon-upwork {
  &:before {
    content: $socicon-upwork; 
  }
}
.socicon-ventrilo {
  &:before {
    content: $socicon-ventrilo; 
  }
}
.socicon-viadeo {
  &:before {
    content: $socicon-viadeo; 
  }
}
.socicon-viber {
  &:before {
    content: $socicon-viber; 
  }
}
.socicon-viewbug {
  &:before {
    content: $socicon-viewbug; 
  }
}
.socicon-vimeo {
  &:before {
    content: $socicon-vimeo; 
  }
}
.socicon-vine {
  &:before {
    content: $socicon-vine; 
  }
}
.socicon-vkontakte {
  &:before {
    content: $socicon-vkontakte; 
  }
}
.socicon-vsco {
  &:before {
    content: $socicon-vsco; 
  }
}
.socicon-warcraft {
  &:before {
    content: $socicon-warcraft; 
  }
}
.socicon-wechat {
  &:before {
    content: $socicon-wechat; 
  }
}
.socicon-weibo {
  &:before {
    content: $socicon-weibo; 
  }
}
.socicon-whatsapp {
  &:before {
    content: $socicon-whatsapp; 
  }
}
.socicon-wickr {
  &:before {
    content: $socicon-wickr; 
  }
}
.socicon-wikipedia {
  &:before {
    content: $socicon-wikipedia; 
  }
}
.socicon-windguru {
  &:before {
    content: $socicon-windguru; 
  }
}
.socicon-windows {
  &:before {
    content: $socicon-windows; 
  }
}
.socicon-wix {
  &:before {
    content: $socicon-wix; 
  }
}
.socicon-wordpress {
  &:before {
    content: $socicon-wordpress; 
  }
}
.socicon-wykop {
  &:before {
    content: $socicon-wykop; 
  }
}
.socicon-x {
  &:before {
    content: $socicon-x; 
  }
}
.socicon-xbox {
  &:before {
    content: $socicon-xbox; 
  }
}
.socicon-xing {
  &:before {
    content: $socicon-xing; 
  }
}
.socicon-yahoo {
  &:before {
    content: $socicon-yahoo; 
  }
}
.socicon-yammer {
  &:before {
    content: $socicon-yammer; 
  }
}
.socicon-yandex {
  &:before {
    content: $socicon-yandex; 
  }
}
.socicon-yelp {
  &:before {
    content: $socicon-yelp; 
  }
}
.socicon-younow {
  &:before {
    content: $socicon-younow; 
  }
}
.socicon-youtube {
  &:before {
    content: $socicon-youtube; 
  }
}
.socicon-yt-gaming {
  &:before {
    content: $socicon-yt-gaming; 
  }
}
.socicon-zapier {
  &:before {
    content: $socicon-zapier; 
  }
}
.socicon-zazzle {
  &:before {
    content: $socicon-zazzle; 
  }
}
.socicon-zerply {
  &:before {
    content: $socicon-zerply; 
  }
}
.socicon-zillow {
  &:before {
    content: $socicon-zillow; 
  }
}
.socicon-zomato {
  &:before {
    content: $socicon-zomato; 
  }
}
.socicon-zoom {
  &:before {
    content: $socicon-zoom; 
  }
}
.socicon-zynga {
  &:before {
    content: $socicon-zynga; 
  }
}

